button img {
    height: 35px;
}

.cue {
    height: 80px;
}

.ball {
    height: 80px;
    width: 80px;
    margin-left: -30px;
}

.one {
    background-image: url('../assets/1-solid.png');
}

.two {
    background-image: url('../assets/2-solid.png');
}

.three {
    background-image: url('../assets/3-solid.png');
}

.four {
    background-image: url('../assets/4-solid.png');
}

.five {
    background-image: url('../assets/5-solid.png');
}

.six {
    background-image: url('../assets/6-solid.png');
}

.seven {
    background-image: url('../assets/7-solid.png');
}

.eight {
    background-image: url('../assets/8ball.png');
}

.nine {
    background-image: url('../assets/9-stripe.png');
}

.ten {
    background-image: url('../assets/10-stripe.png');
}

.eleven {
    background-image: url('../assets/11-stripe.png');
}

.twelve {
    background-image: url('../assets/12-stripe.png');
}

.thirteen {
    background-image: url('../assets/13-stripe.png');
}

.fourteen {
    background-image: url('../assets/14-stripe.png');
}

.fifteen {
    background-image: url('../assets/15-stripe.png');
}
